# 忽略 data 目录及其所有内容
data/*
!data/.gitkeep
# 忽略 log 目录及其所有内容
logs/*
!logs/.gitkeep
# 忽略 output 目录及其所有内容
output/*
!output/.gitkeep
# 忽略 publisher/data 目录及其所有内容
publisher/data/*
!publisher/data/.gitkeep
# 忽略 toutiao 目录及其所有内容
toutiao/*
!toutiao/.gitkeep
